<!-- This is the main data entry form for host family application -->

<%- include ../partials/head.ejs %>

  <script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>

<form class="container" action="/addHostFam" method="post" id="hostFamilyForm">
<!-- These includes are the panels to be shown when selected from navTabs.ejs -->
  <div id="tabs">
    <%- include ../partials/navTabs.ejs %>


    <div id="familyInfo">
      <%- include ../partials/familyInfo.ejs %>
    </div>

    <div id="accomodations">
      <%- include ../partials/accomodations.ejs %>
    </div>
    
    <div id="petsInfo">
      <%- include ../partials/pets.ejs %>

    </div>

  </div>

</form>


 
