<%- include ../partials/head.ejs %>


<%- include ../partials/scripts.ejs %>

  <script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>

<form class="container" action="" id="hostFamilyForm">
 
  <div id="tabs">
    <%- include ../partials/navTabs.ejs %>

    <div id="userInfo">
      <%- include ../partials/userInfo.ejs %>
    </div>
    <div id="familyInfo">
      <%- include ../partials/familyInfo.ejs %>
    </div>
    <div id="accomodations">
      <%- include ../partials/accomodations.ejs %>
    </div>
    <div id="petsInfo">
      <%- include ../partials/petsInfo.ejs %>
    </div>
  </div>
</form>

 
 
